exportPattern("^[^\\.]")
useDynLib(pcaL1)
S3method(plot, pcal1)
S3method(plot, l1pca)
S3method(plot, l1pcastar)
S3method(plot, l1pcahp)
S3method(plot, wl1pca)
S3method(plot, awl1pca)
importFrom("graphics", "plot")
importFrom("stats", "median", "prcomp", "runif")
